#instructor{
    font-size: 12px;
}
#card-image{
    border-radius: 0;
}
.card-body{
    padding: 10px 0 0 0!important;
}
.course-rating{
    color:#b4690e;
    margin-right: 0.5rem;
    font-weight: bold;
}
.course-link{
    text-decoration: none;
    color: black;
}
.course-link:hover{
    text-decoration: none;
    color: black;
}