footer{
    background-color: #1c1d1f;
    color: white!important;
}
a{



}
a:hover{
    text-decoration: underline;
}
.links{
    font-size: 14px;
    max-width: 15%!important;    
}
.links-and-language-selector{
    
}
.list-item{
    margin: 0.5rem;
}
.copyright{
    font-size: 12px
}