nav{
    z-index: 3;
}
.nav-link{
    font-size: 14px!important;
    text-decoration: none;
    color: #1c1d1f!important;
}   
.nav-link:hover{
    text-decoration: none;
}
#navbar-search-and-links{
    width: 100%;
}
.navlink-login{
    font-size: 14px;
    color: #1C1D1F;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: white;
    border: 1px solid;
    margin-right: 1rem;
    text-decoration: none;    
}
.navlink-login:hover{
    background-color: rgb(240, 241, 243);
    text-decoration: none;
    color: #000;
}
.navlink-register{
    background-color: black;
    color:white!important;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;

}
.navlink-register:hover{
    text-decoration: none;
}
.dropstart .dropdown-menu{
    top: 5rem!important;
    right: 0.5rem!important;
    border-radius: 0;
    width: 260px;
}
.dropstart .user-avatar{
    background-color: transparent;
    border: 0;
}
.dropstart .dropdown-toggle::before{
    content :none!important

}
.dropstart ul li div div:last-child div:first-child{
    font-size: 16px;
    font-weight: bold;
    
} 
.dropstart ul li div div:last-child div:last-child{
    font-size: 12px;
    color: #6a6f73;
} 
.dropstart ul li .dropdown-item{
    font-size: 14px;
    color: #000000;
} 
.dropstart ul li .dropdown-item:hover{
    background-color: white;
    text-decoration: none;
    color: #a435f0;
} 